---
---
<section class="bg-white dark:bg-gray-900">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <img class="w-full dark:hidden" src="/img/home/iStock-1182368541.jpg" alt="dashboard image">
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Notre princinpe</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">L’association est guidée par un principe : aucune action positive ne peut être menée, si l’on ne sait pas au départ ce pour quoi la dite action est menée. On ne défend pas une cause dont on ignore les contours. Dans ce site vous trouverez entre autres des conseils, des informations sur : le handicap et sur les lois, sur la maladie, les acteurs socio-médicaux, sur nos actions … autant d’informations qui nous l’espérons vous aideront à mieux appréhender, à mieux connaître pour aider un proche ou vous-même à mieux vivre avec la maladie.   Sos Globi Paris, Vaincre La Drépanocytose.</p>
        </div>
    </div>
</section>